<p id="notice"><%= notice %></p>

<p>
  <b>Your name:</b>
  <%= @message.your_name %>
</p>

<p>
  <b>Your email:</b>
  <%= @message.your_email %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
