<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> &nbsp
    <%= f.text_field :title, :style => 'width: 535px' %>
  </div> <br>
  <div class="field">
    <%= f.label :street_number %> &nbsp
    <%= f.text_field :street_number %>
  </div> <br>
  <div class="field">
    <%= f.label :street_name %> &nbsp
    <%= f.text_field :street_name %>
  </div> <br>
  <div class="field">
    <%= f.label :city %> &nbsp
    <%= f.text_field :city %>
  </div> <br>
  <div class="field">
    <%= f.label :mls_number %> &nbsp
    <%= f.text_field :mls_number %>
  </div> <br>
  <div class="field">
    <%= f.label :building_type %> &nbsp
    <%= f.text_field :building_type %>
  </div> <br>
  <div class="field">
    <%= f.label :bedrooms %> &nbsp
    <%= f.text_field :bedrooms %>
  </div> <br>
  <div class="field">
    <%= f.label :bathrooms %> &nbsp
    <%= f.text_field :bathrooms %>
  </div> <br>
  <div class="field">
    <%= f.label :sq_ft %> &nbsp
    <%= f.text_field :sq_ft %>
  </div> <br>
  <div class="field">
    <%= f.label :asking_price %> &nbsp
    <%= f.text_field :asking_price %>
  </div> <br>
  <div class="field">
    <%= f.label :price_sold, "Price sold for" %> &nbsp
    <%= f.text_field :price_sold %>
  </div> <br>
  <div class="field">
    <%= f.label :garage_space %> &nbsp
    <%= f.text_field :garage_space %>
  </div> <br>
  <div class="field">
    <%= f.label :storeys %> &nbsp
    <%= f.number_field :storeys %>
  </div> <br>
  <div class="field">
    <%= f.label :description %> &nbsp
    <%= f.text_area :description, :class => "xxlarge" %>
  </div> <br>

    <%= f.hidden_field :user_id, :value => current_user.id %>
<br>
    <%= f.submit %>

<% end %>
