<div class="leadform">
	<br><br>
<%= form_for @listing, :html => {:multipart => true} do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %> &nbsp
    <%= f.text_field :title, :style => 'width: 535px' %>
  </p> <br>
  <p>
    <%= f.label :street_number %> &nbsp
    <%= f.text_field :street_number %>
  </p> <br>
  <p>
    <%= f.label :street_name %> &nbsp
    <%= f.text_field :street_name %>
  </p> <br>
  <p>
    <%= f.label :city %> &nbsp
    <%= f.text_field :city %>
  </p> <br>
<hr>
	<p>
 	 <%= f.label :img, "Photo upload" %> &nbsp
 	 <%= f.file_field :img %>
	</p>
	<hr>
  <br><p>
    <%= f.label :mls_number %> &nbsp
    <%= f.text_field :mls_number %>
  </p> <br>
  <p>
    <%= f.label :building_type %> &nbsp
	<%= f.select :building_type, [['Detached','Detached'],['Semi-Detached','Semi-Detached'],['Townhome','Townhome'],['Apartment','Apartment'],['Other','Other']] %>
  </p> <br>
  <p>
    <%= f.label :bedrooms %> &nbsp
    <%= f.number_field :bedrooms %>
  </p> <br>
  <p>
    <%= f.label :bathrooms %> &nbsp
    <%= f.text_field :bathrooms %>
  </p> <br>
  <p>
    <%= f.label :sq_ft %> &nbsp
    <%= f.text_field :sq_ft %>
  </p> <br>
  <p>
    <%= f.label :asking_price %> &nbsp
    <%= f.text_field :asking_price %>
  </p> <br>
  <p>
    <%= f.label :price_sold, "Price sold for" %> &nbsp
    <%= f.text_field :price_sold %>
  </p> <br>
  <p>
    <%= f.label :garage_space %> &nbsp
    <%= f.number_field :garage_space %>
  </p> <br>
  <p>
    <%= f.label :storeys %> &nbsp
    <%= f.number_field :storeys %>
  </p> <br>
  <p>
    <%= f.label :description %> &nbsp
    <%= f.text_area :description %>
  </p> <br>

    <%= f.hidden_field :user_id, :value => current_user.id %>
<br>
    <%= f.submit "Add listing!", :class => "leadsubmit" %>
<% end %>
<br class="clearfloat">
<br>
</div>