<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <%= @listing.street_number %> <%= @listing.street_name %>
</p>

<p>
  <b>City:</b>
  <%= @listing.city %>
</p>

<p>
  <b>Building type:</b>
  <%= @listing.building_type %>
</p>

<p>
  <b>Mls number:</b>
  <%= @listing.mls_number %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @listing.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @listing.bathrooms %>
</p>

<p>
  <b>Sq ft:</b>
  <%= @listing.sq_ft %>
</p>

<p>
  <b>Asking price:</b>
  <%= @listing.asking_price %>
</p>

<p>
  <b>Price sold:</b>
  <%= @listing.price_sold %>
</p>

<p>
  <b>Garage space:</b>
  <%= @listing.garage_space %>
</p>

<p>
  <b>Storeys:</b>
  <%= @listing.storeys %>
</p>

<p>
  <b>Description:</b>
  <%= @listing.description %>
</p>

<p>
  <b>User:</b>
  <%= @listing.user_id %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
