<h2 align="center">
  <%= @listing.title %>
</h2>
<br>
<div class="hero-unit">
	<div class="row">
		<div class="span4"><p>image here</p>
		</div>
		
		<div class="span5">
<h3>
  <strong><%= @listing.street_number %> <%= @listing.street_name %></strong>
</h3>

<p>
  <%= @listing.city %>, ON
</p>
		</div>
		
		<div class="span4" align="right">
			<h3>
			$ <%= @listing.asking_price %><br>
			
			</h3>
		</div>
		
	</div>
	
	
</div>


<div class="row">
  <div class="span12">
    Level 1 of column
    <div class="row">
      <div class="span6">
        Level 2
      </div>
      <div class="span6">
        Level 2
      </div>
    </div>
  </div>
</div>









<div class="row" align="center">
	
	<div class="span4">
		<p>
		  <b>Building type:</b> <%= @listing.building_type %><br>
		 <b>Bedrooms:</b>
		  <%= @listing.bedrooms %><br>
		 <b>Bathrooms:</b>
		  <%= @listing.bathrooms %>
		</p>
	</div>
	
	<div class="span4 offset2">
		
		  <b>Mls number:</b>
		  <%= @listing.mls_number %>
		
	</div> 	
</div>





<p>
  <b>Sq ft:</b>
  <%= @listing.sq_ft %>
</p>

<p>
  <b>Garage space:</b>
  <%= @listing.garage_space %>
</p>

<p>
  <b>Storeys:</b>
  <%= @listing.storeys %>
</p>

<p>
  <b>Description:</b>
  <%= @listing.description %>
</p>



<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
