<h1>Control Panel</h1><br class="clearfloat">
	<p>From here, you can edit your profile, manage your listings as well as track your leads.</p>
<br>
<br>

<div id="features">
<h2>Manage Profile</h2>
   <div class="featureList">
	   <div class="cpanelitem">
           <h3><%= link_to "View your profile", user_path(current_user) %></h3>
           <p>Take a look at your profile the way the public sees it.</p>
       </div>
    
        <div class="cpanelitem">
            <h3><%= link_to "Edit your profile", edit_user_path(current_user) %></h3>
            <p>Change details, update your information or change your profile picture here. </p>
        </div>
    <br class="cleafloat" />
    </div><!-- /featureList -->

</div><!-- /#features -->

<div id="features">
<h2>Manage Listings</h2>
   <div class="featureList">
	   <div class="cpanelitem">
           <h3><%= link_to "View your listings", "/manage_listings" %></h3>
           <p>View an index of all of your listings here.</p>
       </div>
    
        <div class="cpanelitem">
            <h3><%= link_to "Add a new listing", new_listing_path %></h3>
            <p>Submit a new listing of yours. Your listings are automatically added to your profile.</p>
        </div>
    <br class="cleafloat" />
    </div><!-- /featureList -->

</div><!-- /#features -->

<div id="features">
<h2>Manage Clients</h2>
   <div class="featureList">
	   <div class="cpanelitem">
           <h3><%= link_to "View your clients", "/manage_leads" %></h3>
           <p>Take a look at your list of clients and leads. Manage all of your clients from a central place and keep organized.</p>
       </div>
    
        <div class="cpanelitem">
            <h3><%= link_to "Add a new client", new_lead_path %></h3>
            <p>Input a new client or lead.</p>
        </div>
    <br class="cleafloat" />
    </div><!-- /featureList -->