<div class="hero-unit">
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h3><%= @user.company %></h3>
</div>

<h4>About:</h4>
<p><%= @user.about %></p>
<br>
<h4>Listings</h4>
<table class="zebra-striped">
  <tr>
	<th></th>
    <th>Street number</th>
    <th>Street name</th>
    <th>Title</th>
    <th>City</th>
    <th>Asking price</th>
    <th></th>
  </tr>
<% @user = User.find(params[:id]) %>
<% @listings = @user.listings %>
<% @listings.each do |listing| %>
  <tr>
	<td><%= image_tag listing.img_url(:thumb), :height => "50%" %></td>
    <td><%= listing.street_number %></td>
    <td><%= listing.street_name %></td>
    <td><%= listing.title %></td>
    <td><%= listing.city %></td>
    <td><%= listing.asking_price %></td>
    <td><%= link_to 'Show', listing %></td>
  </tr>
<% end %>
</table>