<div class="loginRegister">
	
	<div class="login">

        <h1>login</h1>

        <h3>already have an account?</h3>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "loginForm"}) do |f| %>
            <p>
            <label for="email">Email<span class="asterisk">*</span></label><br /> 
            <%= f.email_field :email %>
            </p>

            <p>
            <label for="password">Password<span class="asterisk">*</span></label><br /> 
            <%= f.password_field :password %>
            </p>


            <p>
			<%= submit_tag 'Sign in NOW!', :name => "name", :class => "signIn" %>

			<%= check_box_tag :remember_me, 1, params[:remember_me], :name => "remember", :id => "remember" %>
            <label for="remember" class="remember">Keep me signed in</label>
            </p>                 

        <% end %>
        <br />
		<p><a href="<%= new_password_path(resource_name) %>">"Forgot your password? Click Here"</a></p>

     <br class="clearfloat" />

    </div>

	<div class="register">
<br><br><br><br><a href="<%= new_user_registration_path %>#content"><br><br><br><br><br><br>
<h1>don't have an account?<br>
click here to sign up.<br>
(it's free)</h1>
<br><br><br><br><br><br><br><br><br><br><br></a><br><br><br><br><br><br><br><br>
</div>
