<%= form_for(@buyer) do |f| %>
  <% if @buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

      <ul>
      <% @buyer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>&nbsp
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>&nbsp
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %>&nbsp
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>&nbsp
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :property_type %>&nbsp
    <%= f.select :property_type, [['Detached house','Detached House'],['Townhouse','Townhouse'],['Apartment/Condo','Apartment/Condo'],['Rental','Rental'],['Vacation','Vacation'],['Other','Other']] %>
  </div>
  <div class="field">
    <%= f.label :min_price %>&nbsp
    <%= f.select :min_price, [['$50,000','$50,000'],['$100,000','$100,000'],['$200,000','$200,000'],['$300,000','$300,000'],['$400,000','$400,000'],['$500,000','$500,000'],['$600,000','$600,000'],['$700,000','$700,000'],['$800,000','$800,000'],['$900,000','$900,000']] %>
  </div>
  <div class="field">
    <%= f.label :max_price %>&nbsp
    <%= f.select :max_price, [['$200,000','$200,000'],['$300,000','$300,000'],['$400,000','$400,000'],['$500,000','$500,000'],['$600,000','$600,000'],['$700,000','$700,000'],['$800,000','$800,000'],['$900,000','$900,000'],['$1,000,000','$1,000,000'],['$1,250,000','$1,250,000'],['$1,500,000+','$1,500,000']] %>
  </div>
  <div class="field">
    <%= f.label :bedrooms, "Minimum bedrooms" %>&nbsp
    <%= f.number_field :bedrooms, :class=>"small" %>
  </div>
  <div class="field">
    <%= f.label :bathrooms, "Minimum bathrooms" %>&nbsp
    <%= f.number_field :bathrooms, :class=>"small" %>
  </div>
  <div class="field">
    <%= f.label :street_number %>&nbsp
    <%= f.number_field :street_number, :class=>"small" %>
  </div>
  <div class="field">
    <%= f.label :street_name %>&nbsp
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :postal_code %>&nbsp
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :city %>&nbsp
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :timeframe, "I'm buying" %>&nbsp
	<%= f.select :timeframe, [['As soon as possible','As soon as possible'],['Within 2 weeks','Within 2 weeks'],['Within 3-4 weeks','Within 3-4 weeks'],['Within 5-7 weeks','Within 5-7 weeks'],['Within 2-4 months','Within 2-4 months'],['More than 5 months from now','More than 5 months from now']] %>
  </div>
  <div class="field">
    <%= f.label :more_info %>&nbsp
    <%= f.text_area :more_info, :class=>"xxlarge", :rows=>"6" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
