<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-alert" %>
  <%= csrf_meta_tags %>
    <style type="text/css">
     body {
        padding-top: 60px;
    }
	.prosidebar ul {
		list-style: none;
	}
    </style>
</head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">housr.ca</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/find">Find an Agent</a></li>
            <li><a href="/agents">Realtor's Section</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		  </ul>
		
		
				<% if user_signed_in? %>
					<ul class="nav secondary-nav">
					            <li class="dropdown" data-dropdown="dropdown">
					              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
					              <ul class="dropdown-menu">
					                <li><a href="/cpanel">Control Panel</a></li>
					                <li><%= link_to "View My Profile", user_path(current_user) %></li>
					                <li class="divider"></li>
					                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
					              </ul>
					            </li>
					          </ul>
			  <% else %>
			    <ul class="nav secondary-nav"><li><%= link_to "Sign Up", new_user_registration_path %></li> 
			<li><%= link_to "Sign In", new_user_session_path %></li>
				</ul>
			  <% end %></p>
			
          
        </div>
      </div>
    </div>

	<div class="container-fluid">
	      <div class="prosidebar">
	        <div class="well">
	          <%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
	          <h5>Contact Info</h5>
	          <ul>
	            <li>Phone: <%= @user.phone %></li>
	            <li>Email: <%= mail_to @user.email %></li>
	          </ul>
	          <h5>Location</h5>
	          <ul>
	            <li>City: <%= @user.city %></li>
	          </ul>
	        </div>
	      </div>
	      <div class="procontent">
	        <% if flash[:notice] %>
				<div class="alert-message warning" data-alert="alert">
				  <a class="close" href="#">×</a>
				  <p><%= flash[:notice] %></p>
				</div>
			<% end %>
	        <%= yield %>

	        <footer>
	          <p>&copy; housr.ca 2011 by Milan Malivuk</p>
	        </footer>
	      </div>
	</div>
</body>
</html>
